@font-face {
  font-family: "CMU-Serif-Bold";
  src: url("/src/assets/CMU-Serif-Bold.ttf.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CMU-Serif-Roman";
  src: url("/src/assets/CMU-Serif-Roman.ttf.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.cv-container {
  flex: 1.5;
  position: sticky;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #000;
  width: 32vw;
  height: 45.12vw;
  overflow-y: auto;
  font-size: 0.5vw;
  scroll-behavior: smooth;
  font-family: "CMU-Serif-Bold", serif;
}

.cv-container h2,
.cv-container h1,
.cv-container h3,
.cv-container h4,
.cv-container p {
  margin-bottom: 0px;
  margin-top: 0px;
  /* Adjust as needed */
}

.cv-container h3,
.cv-container h4,
.cv-container p {
  font-family: "CMU-Serif-Roman", serif;
}

.cv-container h1 {
  font-family: "CMU-Serif-Bold", serif;
}

.bold {
  font-family: "CMU-Serif-Bold", serif !important;
}

.p-left {
  width: 80%;
}

.cv-container hr {
  margin-top: 0;
  margin-bottom: 0;
}

.cv-header {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cv-header p {
  font-size: x-small;
}

.cv-header h1 {
  font-size: x-large;
}

.cv-body {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
}
.education-item-school {
  display: flex;
  flex-direction: row;
  align-content: baseline;
  justify-content: space-between;
  font-family: "CMU-Serif-Bold", serif !important;
}

.education-item-degree {
  display: flex;
  flex-direction: row;
  align-content: baseline;
  justify-content: space-between;
  font-family: "CMU-Serif-Roman", serif;
}

.resume-heading {
  font-family: "CMU-Serif-Roman", serif;
}

.resume-period {
  width: max-content;
}

.resume-heading {
  font-weight: 500;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
}

.divider {
  height: 2px; /* Adjust as needed */
}

.educations,
.experiences,
.projects,
.skills,
.achievements,
.PORs,
.extracurriculars {
  margin-left: 10px;
  margin-right: 10px;
  gap: 0.5vw;
}
